.content{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 0 0.5rem;
}

.content-one{
    margin-top: 0.5rem;
    width: 48%;
    height: 15rem;
    background-color: white;
    padding: 0.45rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
}
.content-oneDiv{
    width: 100%;
    height: 70%;
    background-color: tomato;
}
.content-oneDiv img{
    width: 100%;
    height: 100%;
}
.text{
    font-size: 0.05rem;
    color: #858485;
    display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
    overflow: hidden;
    margin: 0.2rem 0;
}
.text-content{
    display: flex;
    justify-content: space-between;
}
.text-nub{
    font-size: 0.25rem;
    color: #fa5a5a;
}
.text-hua{
   
    font-size: 0.1rem;
    color: #858485;
    text-decoration: line-through;
}
.text-biao{
   margin-top: 0.2rem;
    font-size: 0.05rem;
    color: #fa5a5a;
}
.model{
    z-index: 1000;
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.modelInfo{
    z-index: 1000;
    width: 90%;
    height: 15%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    border-radius: 0.9rem 0.9rem 0 0; 
    padding: 8% 5% 0 5%;
}
.modelInfo>div{
    display: inline-block;
   width: 3.5rem;
   height: 4rem;
   text-align: center;
   font-size: 0.7rem;
   color: #707070;
}
.modelInfo .icon{
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 auto;
    border-radius: 50%;
}
.iconfonts{
    width: 0.9rem;
    height: 0.9rem;
}
.swiperimg{
    width: 100%;
}
.swiper-wrapper{
    height: 3rem;
}