<!DOCTYPE html>
<html lang="en" style="height: 100%;background: #ecebeb;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/swiper.css">
    <link rel="stylesheet" href="../../css/pagination.css">
    <link rel="stylesheet" href="../../css/iconFont/iconfont.css">
    <link rel="stylesheet" href="../../css/hemo.css">
    <link rel="stylesheet" href="../../css/navbar.css">
    <title>异业联盟户端</title>
    <style>
        * {
            margin: 0;
        }
        .swiper-container {
            height: 14.5rem;
        }
        [v-cloak]{
            display: none;
        }
    </style>
</head>

<body style="height: 100%;">
    <div class="app" v-cloak>
        <!-- //轮播图 -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"> <img src="../../image/timg.jpg" class="swiperimg" /></div>
                <div class="swiper-slide"> <img src="../../image/timg.jpg" class="swiperimg" /></div>
                <div class="swiper-slide"> <img src="../../image/timg.jpg" class="swiperimg" /></div>
                <div class="swiper-slide"> <img src="../../image/timg.jpg" class="swiperimg" /></div>
                <div class="swiper-slide"> <img src="../../image/timg.jpg" class="swiperimg" /></div>
            </div>
            <div class="pagination"></div>
        </div>

        <!-- 内容 -->
        <div class="content">
            <div class="content-one">
                <div class="content-oneDiv">
                    <img src="../../image/daffodil.jpg" />
                </div>
                <p class="text">中石化中石化中石化中石化中石化中石化丰富的顺丰到付发的都是</p>
                <div class="text-content">
                    <p class="text-nub">￥730.00<span class="text-hua">￥6900</span></p>
                    <p class="text-biao" @click="fenxiang">
                        <svg class="icon iconfonts" aria-hidden="true">
                            <use xlink:href="#iconfenxiang"></use>
                        </svg>
                    </p>
                </div>
            </div>

        </div>
        <div class="model" v-if='show' @click='show=false'  v-if='show'>
                
            </div>
            <div class="modelInfo" v-if='show'>
                <div class="friend" @click='send'>
                    <div class="icon">
                            <svg class="icon iconfonts" aria-hidden="true">
                                <use xlink:href="#iconweixin"></use>
                            </svg>
                    </div>
                    <div>微信好友</div>
                </div>
                <div class="friend" @click='send'>
                        <div class="icon">
                                <svg class="icon iconfonts" aria-hidden="true">
                                    <use xlink:href="#iconpengyouquan"></use>
                                </svg>
                        </div>
                        <div>朋友圈</div>
                    </div>
                    <div class="friend" @click='send'>
                            <div class="icon">
                                    <svg class="icon iconfonts" aria-hidden="true">
                                        <use xlink:href="#iconQQ"></use>
                                    </svg>
                            </div>
                            <div>qq好友</div>
                        </div>
               
            </div>
            <!-- 导航栏 -->
            <div class="di"></div>
            <div class="navbars">
                    <div>
                      <p>
                        <svg
                          class="icon"
                          aria-hidden="true"
                          style="width: 1.5rem;height:1.5rem;"
                        >
                          <use xlink:href="#icondianpu"></use>
                        </svg>
                      </p>
                      <p class="active">店铺</p>
                    </div>
                    <div>
                            <a href="../../html/order/dingdan.html">
                      <p>
                        <svg
                          class="icon"
                          aria-hidden="true"
                          style="width: 1.5rem;height:1.5rem;"
                        >
                          <use xlink:href="#icondingdan1"></use>
                        </svg>
                      </p>
                      <p>订单</p>
                    </a>
                    </div>
              
                    <div>
                        <a href="../../html/bonus/bonusInfo.html">
                      <p>
                        <svg
                          class="icon"
                          aria-hidden="true"
                          style="width: 1.5rem;height:1.5rem;"
                        >
                          <use xlink:href="#iconjiangjin1"></use>
                        </svg>
                      </p>
                      <p>奖金</p>
                    </a>
                    </div>
                    <div>
                        <a href="../../html/my/my.html">
                      <p>
                        <svg
                          class="icon"
                          aria-hidden="true"
                          style="width: 1.5rem;height:1.5rem;"
                        >
                          <use xlink:href="#iconwode1"></use>
                        </svg>
                      </p>
                      <p>我的</p>
                    </a>
                    </div>
                  </div>

    </div>
</body>
<script src="../../js/swiper.js"></script>
<script src="../../js/iconfont.js"></script>
<script src="../../js/vue.js"></script>
<script>
    window.onload = function() {
        var mySwiper = new Swiper('.swiper-container', {
            autoplay: 4000, //可选选项，自动滑动
            loop: true, //可选选项，开启循
            pagination: '.pagination',
        });
    }
    var app = new Vue({
        el: '.app',
        data: {
            show:false,
        },
        methods: {
            fenxiang(){
                this.show=true
            }
        }
    })
</script>

</html>