html {
    background-color: #F1F1F1;
}

.sell {
    margin-top: 3rem;
}

.el-tabs__nav-scroll {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

.el-tabs__item {
    color: #707070;
}

.pending {
    width: 88%;
    background-color: #ffffff;
    padding: 4%;
    margin: 0 auto;
    border-radius: 0.5rem;
    margin-top: 4%;
}

.reserveMark {
    font-size: 0.7rem;
    display: flex;
}

.reserveMark div:last-child {
    text-align: right;
}

.reserveTime {
    font-size: 0.5rem;
    display: flex;
    color: #FF4536;
    margin-top: 4%;
}

.reserveTime div:last-child {
    text-align: center;
    color: #0090FA;
}

.reserveInfo {
    display: flex;
    font-size: 0.7rem;
    padding: 2% 0;
    border-bottom: #EBEBEB solid 0.05rem;
}

.reserveInfo .img {
    width: 4rem;
    height: 4rem;
    background-color: #9597A6;
    margin-right: 5%;
}

.reserveInfo .info {
    width: 75%;
}

.reserveInfo .info div {
    margin-bottom: 4%;
    height: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.check {
    border: #0090FA solid 0.05rem;
    padding: 2%;
    width: 4rem;
    border-radius: 1.5rem;
    float: right;
}

.el-tabs__nav {
    width: 100%;
    display: flex;
}

.el-tabs__item {
    flex: 1;
    text-align: center;
}

.reserveMark .gray {
    color: #9597A6;
}

.el-tabs__nav {
    position: fixed;
    top: 2.2rem;
    left: 0;
    background-color: #fff;
}

.el-tabs__content {
    margin-top: 10%;
}