.app{
    background: #ecebeb;
}
.headGeren{
    width: 100%;
    height: 12rem;
    background-color: #0cd4d3; 
    display: flex;
    justify-content: center;
    position: relative;
}
.gerenXinXi{
    width: 5rem;
    height: 5rem;
    border-radius: 2.5rem;
    margin-top: 2rem;
    background-color: #aef4e7;
}
.gerenNub{
    position: absolute;
    bottom: 3rem;
}



.myContent{
background-color: #ecebeb;
display: flex;
justify-content: center;
flex-flow: row wrap;
box-sizing: border-box;
padding-top:1rem;
overflow: auto;  
}
.MyContentInformation{
width: 92%;
padding: 1rem 0.8rem;
box-sizing: border-box;
background: #fff;
border-radius: 0.5rem;
margin-bottom: 1rem;

}
.myInformation{
height: 2rem;
display: flex;
justify-content: space-between;
border-bottom: 0.08rem solid #EBEBEB;  
}
.myChoice{
margin-top: 1rem; 
display: flex;
justify-content: space-around;
}
.myInformation>span{
font-size: 0.8rem;
width: 30%;
}
.myInformation .flexbuju{
font-size: 0.9rem;
display: flex;
justify-content: space-between;
}
.myInformation .flexbuju p{
margin-top: 0.2rem;
}
.time{
font-size: 0.7rem;
color: #707070
}
.ChoiceTitle{
text-align: center;
}
.myChoice p{
font-size: 0.8rem;
color: #707070;
}


.myContentInvoice{
width: 92%;
padding: 1rem 0.8rem;
box-sizing: border-box;
background: #fff;
border-radius: 0.5rem;
margin-bottom: 1rem;
}
.myInvoice{
height: 2rem;
}
.myInvoice>span{
font-size: 0.8rem;
width: 30%;
}
.myTicket{
margin-top:0.2rem; 
display: flex;
flex-flow: row wrap;
justify-content: space-between;
}
.TicketTitle{
width: 25%;
text-align: center;
margin-bottom: 1rem;
}
.myTicket p{
font-size: 0.8rem;
color: #707070;
}



.myContentHelp{
width: 92%;
padding: 2.5rem 0.8rem;
box-sizing: border-box;
background: #fff;
border-radius: 0.5rem;
margin-bottom: 1rem;
}
.HelpTitle{
width: 25%;
text-align: center;
margin-bottom: 1rem;
}
.myHelp{
margin-top:0.2rem; 
display: flex;
flex-flow: row wrap;
justify-content: space-between;
}
.myHelp p{
font-size: 0.8rem;
color: #707070;
}