.centers{
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
}
.logisticss{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    margin: 1rem 0;
}
.logisticssImg{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.logisticssImg img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.logisticssTest{
    width: 82%;
    height:3rem;

}
.logisticssTest p{
    font-size: 0.8rem;
    color: #9597A6;
    margin-top: 0.5rem;
}
.copy{
    background: #F1F1F1;
    padding:0 0.2rem;
}