.headerTitle{ 
    width: 100%;
    height: 5rem;
    background: #0090FA;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
}
.boxthite{
    
    position: absolute;
    bottom: 0;
    width: 92%;
    height: 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
    background: #fff;

}
.logisticsTest{
    width: 92%;
    padding: 1rem 0.8rem;
    box-sizing: border-box;
    background: #fff;
    border-radius: 0 0 0.5rem 0.5rem;
    margin-bottom: 1rem;

}
.logisticsTestcar{
    margin-bottom:0.5rem; 
    display: flex;
    justify-content: space-between;
}
.logisticsTestcar>span{
    width: 10%;
}
.logisticsP{
    width: 90%;
}
.logisticsTestcar .flexbuju{
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
}
.logisticsTestcar .flexbuju p{
    margin-top: 0.2rem;
}
.logisticsTestcar div span{
    color: #0090FA;
}
.logisticsTestcar>div .iconImg{
    width: 10%;
    display: flex;
    align-items: center;justify-content: center;
}
.time{
    font-size: 0.7rem;
    color: #707070
}
.testwuliu{
    width: 90%;
    font-size: 0.9rem;
}
.fontSize{
    font-size: 0.7rem;
    margin: 0.8rem 0;
    color: #707070;
}
.allPirce{
    margin-top: 1rem;
    width: 92%;
    padding: 1rem 0.8rem;
    box-sizing: border-box;
    background: #fff;
    border-radius: 0.5rem;
    font-size: 0.8rem;
}
.listFlex{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.listFlex p{
    margin: 0.1rem 0;
}
.colorRed{
    color: #FF4536;
}
.lineheight{
    margin: 0.5rem 0;
    height: 0.1rem;
    background: #EBEBEB;
}
.submitBtn{
    width: 92%;
    height: 2.5rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    color: #fff;
    background: #0090FA;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copy{
    background: #F1F1F1;
    padding:0 0.2rem;
}
.iconfonts{
    height: 01.1rem;
    width: 01.1rem;
    margin-right: 0.2rem
}
.modell{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modellbox{
    width: 70%;
    padding: 1rem;
    background: #fff;
    border-radius:0.5rem;

}
.modellbox>p{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.modellbox>div{
    border-top: 0.05rem solid #EBEBEB;
    height: 2rem;
    display: flex;
    justify-content: space-between;
}
.modellbox>div>div{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9597A6；
}
.modellbox>div>div:nth-child(2){
    color: #0090FA
}