html{
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
}
* {
    margin: 0;
}
.navbarss{
    height: 2.5rem;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: #0090fa;

} 
.navbarss p{
    color: #fff;
} 
a{
text-decoration:none;
-webkit-tap-highlight-color: rgba(255, 0, 0, 0);

} 
.drawingsBox{
    width: 90%;
   
    background-color: #ffffff;
    border-radius: 1rem;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 0.5rem;
}
.drawingsBox>div{
    width: 100%;
    margin-top: 1rem;
    padding: 0.4rem;
}
.sum{
    width: 100%;
    display: flex;
}
.card{
    width: 100%;
    display: flex;
    text-align: center;
}
.owner{
    width: 100%;
    display: flex;
}

.drawingsBox input{
    border: none;
    background: none;
    outline: none;
    color:#9597a6;
    font-size: 0.9rem;
}
.apply{
    width: 90%;
    height: 2.5rem;
    background-color: #0090fa;
    border-radius:0.5rem;
    color: #ffffff;
    text-align: center;
    line-height: 2.5rem;
    margin: 0 auto;
    margin-top: 1rem;
    
}
.record{
    width: 20%;
    height: 2.5rem;
    
    border-radius:0.5rem;
    color: #0090fa;
    text-align: center;
    line-height: 2.5rem;
    margin: 0 auto;
    
}
.gray{
    color: #9597a6;
    font-size: 0.9rem;
}
.myMoney{
    text-align: center;
    font-size: 1.5rem;
}
.explain{
    text-align: center;
    font-size: 0.7rem;
}
.blue{
    color: #0090fa;
    text-align: center;
}
.userid{
    margin-left: 1.5rem;
}
.show{
    
    display: flex;
}
.hide{
    display: none;
}
.modal{
    width: 100%;
    /* height: 9rem; */
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    border-radius: 0.9rem 0.9rem 0 0; 
    
}
.modalTitle{
    font-size: 1rem;
   
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    border-bottom: 0.01rem solid #d4d1d1;
}
.isCard{
    display: flex;
    height: 2.5rem;
    width: 100%;
    border-bottom: 0.01rem solid #d4d1d1;
    line-height: 2.5rem;
    padding: 0.5rem;
    color: #707070;
}

.isCard div{
    margin-right: 5%;
}
.circle{
    border-radius: 50%;
    
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 2%;
    margin-left: 4%;
}
.circle img{
    width: 100%;
    height: 100%;
}
.radios{
    
    position: absolute;
    right: 1%;
    
}
.isModal{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

input[type=radio]:checked::after {
    content: "";
    display: block;
    position: absolute;
    top: 0.16rem;
    left: 0.17rem;
    right: 0;
    bottom: 0;
    width: 0.7rem;
    height: 0.7rem;
    background-color: #0090fa;
    border-radius: 50%;
}
input[type=radio] {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    width: 1.1rem;
    height: 1.1rem;
    cursor: pointer;
    vertical-align: center;
    background: #fff;
    border: 0.05rem solid #0090fa;
    position: relative;
    border-radius: 50%;
}
.silver{
    color: #707070;
}
.fadelogIn {
    -webkit-animation: fadelogIn .4s;
    animation: fadelogIn .4s;
}

@keyframes fadelogIn {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes fadelogIn {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
    }

    100% {
        -webkit-transform: none;
    }
}