<!DOCTYPE html>
<html lang="en" style="height: 100%;background: #ecebeb;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/swiper.css">
    <link rel="stylesheet" href="../css/pagination.css">
    <link rel="stylesheet" href="../css/hemo.css">
    <title>异业联盟户端</title>
    <style>
        * {
            margin: 0;
        }
        
        .swiper-container {
            height: 14.5rem;
        }
    </style>
</head>

<body style="height: 100%;">
    <div class="app">
        <!-- //轮播图 -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"> <img src="../image/timg.jpg" class="swiperimg" /></div>
                <div class="swiper-slide"> <img src="../image/timg.jpg" class="swiperimg" /></div>
                <div class="swiper-slide"> <img src="../image/timg.jpg" class="swiperimg" /></div>
                <div class="swiper-slide"> <img src="../image/timg.jpg" class="swiperimg" /></div>
                <div class="swiper-slide"> <img src="../image/timg.jpg" class="swiperimg" /></div>
            </div>
            <div class="pagination"></div>
        </div>

        <!-- 内容 -->
        <div class="content">
            <div class="content-one">
                <div class="content-oneDiv">
                    
                </div>
                <p class="text">中石化中石化中石化中石化中石化中石化丰富的顺丰到付发的都是</p>
                <div class="text-content">
                    <p class="text-nub">￥730.00<span class="text-hua">￥6900</span></p>
                    <p class="text-biao">
                        <svg class="icon iconfonts" aria-hidden="true">
                                        <use xlink:href="#iconfenxiang"></use>
                                </svg>
                    </p>
                </div>
            </div>

        </div>
        <div class="model" v-if='show' @click='hide'>
                
            </div>
            <div class="modelInfo" v-if='show'>
                <div class="friend" v-for='(item,index) in shares' @click='send'>
                    <div class="icon"></div>
                    <div>{{item.way}}</div>
                </div>
               
            </div>

    </div>
</body>
<script src="../js/swiper.js"></script>
<script src="../js/vue.js"></script>
<script>
    window.onload = function() {
        var mySwiper = new Swiper('.swiper-container', {
            autoplay: 4000, //可选选项，自动滑动
            loop: true, //可选选项，开启循
            pagination: '.pagination',
        });
    }
    var app = new Vue({
        el: '.app',
        data: {

        },
        methods: {

        }
    })
</script>

</html>