<!DOCTYPE html>
<html lang="en" style="height: 100;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../../css/my/controlInvoices.css">
    <script src="../../js/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <title>发票管理</title>
    <style>
        * {
            margin: 0;
        }
        
        .headFence {
            position: fixed;
            background: #0090FA;
            padding: 0.8rem;
            text-align: center;
            color: white;
            line-height: 0.5rem;
            top: 0;
            left: 0;
            width: 94%;
            z-index: 222;
        }
        
        .backtrack {
            width: 2rem;
            height: 2rem;
            position: fixed;
            top: 0;
            left: 0;
            color: white;
            text-align: center;
            line-height: 2rem;
            font-weight: bold;
            z-index: 223;
        }
        
        a {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="app">
        <div class="headFence">发票管理</div>
        <div class="backtrack" @click='backtrack'>
            <svg class="icon"  aria-hidden="true"  style="width:1.2rem; height:1.2rem; z-index: 233;">

                <use xlink:href="#iconfanhui"></use>
                    </svg>
        </div>
        <div class="sell">
            <template>
                        <el-tabs v-model="activeName" @tab-click="handleClick">
                            <el-tab-pane label="待开发票" name="first">
                                <div class="pending" v-for='(item,index) in pending'>
                                    <div class="reserveMark">
                                        <div style="flex: 2;">订单号：{{item.resMark}}</div>
                                        <div style="flex: 1; color: #FF4536;">{{item.resGenre}}</div>
                                    </div>
                                    <div class="reserveInfo">
                                       
                                        <div class="info">
                                            <div style="color: #9597A6;">{{item.time}}</div>
                                            <div>{{item.resTitle}}</div>
                                            
                                            
                                        </div>
                                    </div>
                                    <div class="reserveTime">
                                        <div style="flex: 2; color: #FF4536; font-size: 1rem;">¥{{item.money}}</div>
                                        <div style="flex: 1;">
                                            <a href="invoiceDetails.html">
                                            <div class="check">开票</div>
                                        </a>
                                        </div>
                                    </div>
                                </div>
                            </el-tab-pane>
                            <el-tab-pane label="已开发票" name="third">
                                    <div class="pending" v-for='(item,index) in pending'>
                                    <div class="reserveMark">
                                        <div style="flex: 2;">订单号：{{item.resMark}}</div>
                                        <div style="flex: 1;" class="gray">{{item.resGenre}}</div>
                                    </div>
                                    <div class="reserveInfo">
                                       
                                        <div class="info">
                                            <div style="color: #9597A6;">{{item.time}}</div>
                                            <div>{{item.resTitle}}</div>
                                            
                                            
                                        </div>
                                    </div>
                                    <div class="reserveTime">
                                        <div style="flex: 2; color: #FF4536; font-size: 1rem;">¥{{item.money}}</div>
                                        <div style="flex: 1;">
                                           
                                        </div>
                                    </div>
                                </div>
                            </el-tab-pane>
                            
                        </el-tabs>
                    </template>
        </div>




    </div>
</body>
<script>
    var app = new Vue({
        el: '.app',
        data: {
            activeName: 'first',
            pending: [{
                resMark: '6154235415654875',
                resImg: '',
                resGenre: '单位',
                resTitle: '深圳市跨越新科技有限公司',
                subjoin: '内含一张1000元加油卡',
                money: '514243542.000',
                time: '2019.08.22 12:25:32'
            }, {
                resMark: '8465412547854125',
                resImg: '',
                resGenre: '个人',
                resTitle: '深圳市跨越新科技有限公司',
                subjoin: '内含一张1000元加油卡',
                money: '514243542.00',
                time: '2019.08.22 12:25:32'
            }, {
                resMark: '6154235415654875',
                resImg: '',
                resGenre: '单位',
                resTitle: '深圳市跨越新科技有限公司',
                subjoin: '免费领取安装、换新机、检测维…',
                money: '514243542',
                time: '2019.08.22 12:25:32'
            }, {
                resMark: '8465412547854125',
                resImg: '',
                resGenre: '个人',
                resTitle: '深圳市跨越新科技有限公司',
                subjoin: '免费领取安装、换新机、检测维…',
                money: '514243542',
                time: '2019.08.22 12:25:32'
            }],
        },
        methods: {
            handleClick(tab, event) {
                console.log(tab, event);
            },
            backtrack() {
                window.history.go(-1)
            },
        }
    })
</script>

</html>