<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的钱包</title>
    <link rel="stylesheet" href="../../css/my/wallet.css">
    <link rel="stylesheet" href="../../css/iconFont/iconfont.css">
    <script src="../../js/iconfont.js"></script>
    <style>
        .headFence {
            background: #0090FA;
            padding: 0.8rem;
            text-align: center;
            color: white;
            line-height: 0.5rem;
        }
        
        .backtrack {
            position: absolute;
            top: 0.3rem;
            left: 0;
        }
        
        a {
            text-decoration: none;
            color: black;
        }
        
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div class="app" v-cloak>
        <div class="headFence">我的钱包</div>
        <svg class="icon backtrack" aria-hidden="true" style="height: 1.5rem;width:1.5rem;  z-index: 333;" @click="backtrack">
                <use xlink:href="#iconfanhui"></use>
            </svg>
        <div class="paquet">
            <div class="paquetTitle">账户金额(元)</div>
            <div class="monnaie">
                <div>168,888.00</div>
                <div class="right nav">
                    <svg class="icon " aria-hidden="true" style="height: 1.2rem;width:1.2rem;">
                                <use xlink:href="#iconyoujiantou-copy"></use>
                            </svg>
                </div>
            </div>
        </div>
        <div class="cardBag">
            <div class="cards" v-for='(item,index) in iscards' @click='isCards(index)'>
                <div class="logo">
                    <img :src="item.img" alt="">
                    <!-- <img src="../../image/gongshang.png" alt=""> -->
                </div>
                <div class="info">
                    <div class="usName">
                        <div>{{item.Name}}</div>
                        <div class="right">{{item.userName}}</div>
                    </div>
                    <div class="idCaer">
                        <div>****</div>
                        <div>****</div>
                        <div>****</div>
                        <div>{{item.caerNum}}</div>
                    </div>
                </div>
            </div>
            <a href="../bonus/addBankcard.html">
                <div class="addCarb">添加银行卡</div>
            </a>
        </div>
        <div class="isModal" @click="shut" v-if='show'>

        </div>
        <div class="modal fadelogIn" v-if='shows'>
            <div style="color: red;" @click='deletes'>删除</div>
            <a href="modifyBankCard.html">
                <div @click='alter'>修改</div>
            </a>
        </div>
        <div class="confirm" v-if='confirms'>
            <div class="hint">确定删除改银行卡</div>
            <div class="choice">

                <div style="border-right: #d4d1d1 solid 0.05rem; color: #9597A6;" @click='shut'>否</div>
                <div style="color: #0090FA;" @click='del'>是</div>
            </div>
        </div>
    </div>
</body>

<script src="../../js/vue.js"></script>
<script>
    var app = new Vue({
        el: '.app',
        data: {
            isards: [],
            cards: [{
                id: 1,
                Name: '中国银行',
                userName: '张立',
                caerNum: '5124',
                img: '../../image/zhongguo.png'
            }, {
                id: 2,
                Name: '中国工商银行',
                userName: '张立',
                caerNum: '5124',
                img: '../../image/gongshang.png'
            }, {
                id: 3,
                Name: '中国工商银行',
                userName: '张立',
                caerNum: '5124',
                img: '../../image/gongshang.png'
            }],
            show: false,
            shows: false,
            subscript: '',
            confirms: false
        },
        created() {
            this.iscards = this.cards
        },
        mounted() {

        },
        methods: {
            shut() {
                this.show = false
                this.shows = false
                this.confirms = false
            },
            isCards(index) {
                this.show = true
                this.shows = true
                this.subscript = index
                console.log(index)
            },
            deletes() {
                this.confirms = true
                this.shows = false
            },
            del() {
                // console.log(this.subscript)

                // console.log(this.cards[this.subscript])
                this.cards.splice(this.subscript, 1)
                    // console.log(this.cards)
                this.iscards = this.cards
                this.show = false
                this.confirms = false
            },
            backtrack() {
                window.history.go(-1)
            },
            alter() {

            }
        }
    })
</script>

</html>