<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/bonus/bonusInfo.css">
    <link rel="stylesheet" href="../../css/iconFont/iconfont.css">
    <link rel="stylesheet" href="../../css/navbar.css">
    <title>奖金</title>
    <style>
        
        
    </style>
</head>
<body>
    <div class="app " v-cloak>
        <div class="loadMoudle" @touchstart="touchStart($event)" @touchmove="touchMove($event)" :style="{transform: 'translate3d(0,' + top + 'px, 0)'}">
                <div class="bonusHead">
                        <div class="title">可提现收入(元)</div>
                        <div class="myMoney">168,888.00</div>
                        <div>
                            <a href="./drawings.html">
                            <div class="withdrawal">立即提现</div>
                            </a>
                        </div>
                        <div class="income">
                            <div>168,888.00</div>
                            <div>168,888.00</div>
                        </div>
                        <div class="balance">
                            <div>累计收入(元)</div>
                            <div>余额(元)</div>
                        </div> 
                    </div>
                    <div class="detail">
                        <div class="detailTitle">收入明细</div>
                        <div>
                                <div class="detailList" v-for="(item,index) in list">
                                        <div class="userName">
                                            <div>{{item.userName}}</div>
                                            <div class="time">{{item.time}}</div>
                                        </div>
                                        <div class="incomeAdd">
                                            <div :class="[item.incomeAdd>0 ? 'red' : 'gray']">{{item.incomeAdd}}</div>
                                            <div class="time">{{item.myMoney}}</div>
                                        </div>
                                    </div>
                
                        </div>
                    </div>
                    <div class="moreData-tip" v-if="pullUpState==1">
                            <span class="moreData-tip-text">{{pullUpStateText.moreDataTxt}}</span>
                          </div>
                          <div class="loadingMoreData-tip" v-if="pullUpState==2">
                            <span class="icon-loading"></span>
                            <span class="loadingMoreData-tip-text">{{pullUpStateText.loadingMoreDataTxt}}</span>
                          </div>
                          <div class="noMoreData-tip" v-if="pullUpState==3">
                            <span class="noMoreData-tip-text">{{pullUpStateText.noMoreDataTxt}}</span>
                          </div>
        </div>
    
          <!-- 导航栏 -->
          <div class="di"></div>
          <div class="navbars">
                  <div>
                      <a href="../../html/store/hemo.html">
                    <p>
                      <svg
                        class="icon"
                        aria-hidden="true"
                        style="width: 1.5rem;height:1.5rem;"
                      >
                        <use xlink:href="#icondianpu1"></use>
                      </svg>
                    </p>
                    <p >店铺</p>
                </a>
                  </div>
                  <div>
                          <a href="../../html/order/dingdan.html">
                    <p>
                      <svg
                        class="icon"
                        aria-hidden="true"
                        style="width: 1.5rem;height:1.5rem;"
                      >
                        <use xlink:href="#icondingdan1"></use>
                      </svg>
                    </p>
                    <p>订单</p>
                  </a>
                  </div>
            
                  <div>
                      
                    <p>
                      <svg
                        class="icon"
                        aria-hidden="true"
                        style="width: 1.5rem;height:1.5rem;"
                      >
                        <use xlink:href="#iconjiangjin"></use>
                      </svg>
                    </p>
                    <p class="active">奖金</p>
                  </div>
                  <div>
                      <a href="../../html/my/my.html">
                    <p>
                      <svg
                        class="icon"
                        aria-hidden="true"
                        style="width: 1.5rem;height:1.5rem;"
                      >
                        <use xlink:href="#iconwode1"></use>
                      </svg>
                    </p>
                    <p>我的</p>
                </a>
                  </div>
                </div>
</div>
</body>
<script src="../../js/vue.js"></script>
<script src="../../js/iconfont.js"></script>
<script>
   var app = new Vue({
        el:'.app',
        data:{
            arr:[
                {id:1,userName:'用户6445741234',time:'2019.08.22.12:25',incomeAdd:'+250',myMoney:'168,888.00'},
                {id:2,userName:'用户6445741234',time:'2019.08.22.12:25',incomeAdd:'+250',myMoney:'168,888.00'},
                {id:3,userName:'用户6445741234',time:'2019.08.22.12:25',incomeAdd:'-250',myMoney:'168,888.00'},
                {id:4,userName:'用户6445741234',time:'2019.08.22.12:25',incomeAdd:'-250',myMoney:'168,888.00'},
                {id:5,userName:'用户6445741234',time:'2019.08.22.12:25',incomeAdd:'-250',myMoney:'168,888.00'},
                {id:6,userName:'用户6445741234',time:'2019.08.22.12:25',incomeAdd:'-250',myMoney:'168,888.00'},
                {id:7,userName:'用户6445741234',time:'2019.08.22.12:25',incomeAdd:'-250',myMoney:'168,888.00'},
                {id:8,userName:'用户6445741234',time:'2019.08.22.12:25',incomeAdd:'-250',myMoney:'168,888.00'},
                {id:9,userName:'用户6445741234',time:'2019.08.22.12:25',incomeAdd:'+250',myMoney:'168,888.00'},
                {id:10,userName:'用户6445741234',time:'2019.08.22.12:25',incomeAdd:'+250',myMoney:'168,888.00'},
                {id:10,userName:'用户6445741234',time:'2019.08.22.12:25',incomeAdd:'+250',myMoney:'168,888.00'},
                {id:10,userName:'用户6445741234',time:'2019.08.22.12:25',incomeAdd:'+250',myMoney:'168,888.00'},
                {id:10,userName:'用户6445741234',time:'2019.08.22.12:25',incomeAdd:'+250',myMoney:'168,888.00'},
                {id:10,userName:'用户6445741234',time:'2019.08.22.12:25',incomeAdd:'+250',myMoney:'168,888.00'},
            ],
            list:[],
            pageSize:10,
            currentPage:0,
            top: 0,
            startY: 0,
            pullUpState: 0, // 1:上拉加载更多, 2:加载中……, 3:我是有底线的
            isLoading: false, // 是否正在加载
            pullUpStateText: {
              moreDataTxt: '上拉加载更多',
              loadingMoreDataTxt: '加载中...',
              noMoreDataTxt: '没有更多了'
            },
            parentPullUpState: {
                default: 0
            },
            

        },
        created(){
                var skipNum =this.currentPage * this.pageSize; 
                var sNum =(this.currentPage+1)*this.pageSize; 
                this.list = this.arr.slice(skipNum, sNum);
        },
        mounted(){
            
        },
        methods:{
            touchStart (e) {
            this.startY = e.targetTouches[0].pageY
          },
          touchMove (e) {
            if (e.targetTouches[0].pageY < this.startY) { // 上拉
              this.judgeScrollBarToTheEnd()
            }
          },
          
          // 判断滚动条是否到底
          judgeScrollBarToTheEnd () {
            let innerHeight = document.querySelector('.loadMoudle').clientHeight
            // 变量scrollTop是滚动条滚动时，距离顶部的距离
            let scrollTop = document.documentElement.scrollTop || window.pageYOffset || document.body.scrollTop
            // 变量scrollHeight是滚动条的总高度
            let scrollHeight = document.documentElement.clientHeight || document.body.scrollHeight
            // 滚动条到底部的条件
            if (scrollTop + scrollHeight >= innerHeight) {
              if (this.pullUpState !== 3 && !this.isLoading) {
                this.pullUpState = 1
                this.infiniteLoad()

                // if(){
                //     this.infiniteLoadDone()
                // }
                
               
              }
            }
          },
          infiniteLoad () {
            this.pullUpState = 2
            this.isLoading = true
            setTimeout(() => {
              this.infiniteLoadDone();
            }, 800)
          },
          infiniteLoadDone () {
            this.pullUpState = 0
            this.isLoading = false
          }
           
        },
       
    })
</script>

</html>