<!DOCTYPE html>
<html lang="en" style="height:100%;background: #ecebeb;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/order/dingdan.css">
    <link rel="stylesheet" href="../../css/my/wallet.css">
    <link rel="stylesheet" href="../../css/iconFont/iconfont.css">
    <link rel="stylesheet" href="../../css/navbar.css">
    <title>订单</title>
    <style>
        * {
            margin: 0;
        }
        .textColor {
            color: #9597A6;
        }
        
        [v-cloak] {
            display: none;
        }
        
        .titles {
            height: 2rem;
            background: #0090FA;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
        }
        
        .backtrack {
            position: absolute;
            top: 0.3rem;
            left: 0;
        }
    </style>
</head>

<body style="height:100%;">
    <div class="app" v-cloak>
        <!-- 头部信息 -->
        <div class="titles">
            订单
        </div>
        <div class="head-xu">
            <p :class="indexNum == index ? 'active':''" v-for="(item,index) in testList" @click="btnOrder(index)">{{item}}</p>
        </div>

        <!-- 订单详情第一页 -->
        <div class="content" v-if='arrlist.length'>

            <div class="content-neirong" v-for="(item,index) in arrlist" @click="xiangqing(index,item)">
                <div class="dingdan-nub">
                    <p>订单号:<span class="text-nub">{{item.title}}</span></p>
                    <p class="text-wen textColor" v-if="item.status == '已完成'">{{item.status}}</p>
                    <p class="text-wen" v-else>{{item.status}}</p>
                </div>

                <div class="dingdan-zhan" v-for="(items,index) in item.ssss">
                    <div class="product"><img :src="items.img" alt=""></div>
                    <div class="brief-introduction">
                        <p class="one-text">{{items.name}}</p>
                        <p class="two-text">{{items.titleTest}}</p>
                        <div class="dingdan-zhan-text">
                            <span class="text-nubmer">￥{{items.pirce}}</span>
                            <span class="text-mul">×{{items.numders}}</span>
                        </div>
                    </div>
                </div>
                <div class="submsBtn">
                    <div class="userName">
                        <div class="userImg"><img :src="item.imgs" alt=""></div><span>{{item.userName}}</span>
                    </div>
                    <div class="userBtn" v-show="item.method != ''" @click="methodBtn(item.method,index)">
                        {{item.method}}
                    </div>
                </div>
            </div>
        </div>

        <div class="dingDanNull" v-else>
            <div class="NullLcon">
                <svg class="icon iconfonts" aria-hidden="true">
                        <use xlink:href="#iconzanwushuju"></use>
                    </svg>
            </div>
            <p class="NullLconWords">您暂时没有订单哦！</p>
        </div>
        <div class="isModal" v-if='confirms' >

        </div>
        <div class="confirm" v-if='confirms'>
            <div class="hint">确定关闭本次订单？</div>
            <div class="choice">
                <div style="border-right: #d4d1d1 solid 0.05rem; color: #9597A6;" @click='confirms = false'>否</div>
                <div style="color: #0090FA;" @click='confirms = false'>是</div>
            </div>
        </div>
        <div class="di"></div>
        <!-- 导航栏 -->
        <div class="navbars">
            <div>
                <a href="../../html/store/hemo.html">
                    <p>
                        <svg class="icon" aria-hidden="true" style="width: 1.5rem;height:1.5rem;">
                      <use xlink:href="#icondianpu1"></use>
                    </svg>
                    </p>
                    <p>店铺</p>
                </a>
            </div>
            <div>

                <p>
                    <svg class="icon" aria-hidden="true" style="width: 1.5rem;height:1.5rem;">
                      <use xlink:href="#icondingdan"></use>
                    </svg>
                </p>
                <p class="active">订单</p>
            </div>

            <div>
                <a href="../../html/bonus/bonusInfo.html">
                    <p>
                        <svg class="icon" aria-hidden="true" style="width: 1.5rem;height:1.5rem;">
                      <use xlink:href="#iconjiangjin1"></use>
                    </svg>
                    </p>
                    <p>奖金</p>
                </a>
            </div>
            <div>
                <a href="../../html/my/my.html">
                    <p>
                        <svg class="icon" aria-hidden="true" style="width: 1.5rem;height:1.5rem;">
                      <use xlink:href="#iconwode1"></use>
                    </svg>
                    </p>
                    <p>我的</p>
                </a>
            </div>
        </div>


    </div>
</body>
<script src="../../js/vue.js"></script>
<script src="../../js/iconfont.js"></script>
<script>
    var app = new Vue({
        el: '.app',
        data: {
            testList: ["全部", "待收款", "待发货", "待安装", "已完成"],
            arrlist: [],
            shopAll: [{
                id: 1,
                title: '1233455324568456',
                status: '待发货',
                ssss: [{
                    name: '中化石油加油卡礼包',
                    img: '../../image/zu100.png',
                    titleTest: '内含一张1000元加油卡',
                    pirce: '￥3455.00',
                    numders: '2'
                }, ],
                imgs: '../../image/daffodil.jpg',
                userName: '嗷嗷喊',
                method: '关闭订单'
            }, 
            {
                id: 1,
                title: '1233455324568456',
                status: '待安装',
                ssss: [{
                    name: '中化石油加油卡礼包',
                    img: '../../image/zu100.png',
                    titleTest: '内含一张1000元加油卡',
                    pirce: '￥3455.00',
                    numders: '2'
                }, ],
                imgs: '../../image/daffodil.jpg',
                userName: '嗷嗷喊',
                method: '关闭订单'
            },{
                id: 1,
                title: '1233455324568456',
                status: '已完成',
                ssss: [{
                    name: '中化石油加油卡礼包',
                    img: '../../image/zu100.png',
                    titleTest: '内含一张1000元加油卡',
                    pirce: '￥3455.00',
                    numders: '2'
                }, {
                    name: '中化石油加油卡礼包',
                    img: '../../image/zu100.png',
                    titleTest: '内含一张1000元加油卡',
                    pirce: '￥3455.00',
                    numders: '2'
                }],
                imgs: '../../image/daffodil.jpg',
                userName: '嗷嗷喊',
                method: ''
            }, {
                id: 1,
                title: '1233455324568456',
                status: '待付款',
                ssss: [{
                    name: '中化石油加油卡礼包',
                    img: '../../image/zu100.png',
                    titleTest: '内含一张1000元加油卡',
                    pirce: '￥3455.00',
                    numders: '2'
                }, ],
                imgs: '../../image/daffodil.jpg',
                userName: '嗷嗷喊',
                method: '关闭订单'
            },
            {
                id: 1,
                title: '1233455324568456',
                status: '待付款',
                ssss: [{
                    name: '中化石油加油卡礼包',
                    img: '../../image/zu100.png',
                    titleTest: '内含一张1000元加油卡',
                    pirce: '￥3455.00',
                    numders: '2'
                }, ],
                imgs: '../../image/daffodil.jpg',
                userName: '嗷嗷喊',
                method: '关闭订单'
            }, ],
            indexNum: 0,
            confirms: false,
        },

        created() {
            this.arrlist = this.shopAll
            this.init()
        },
        // mounted() {
        //     this.init()
        // },
        methods: {
            init() {
                console.log(window.location.search.split("id=")[1])
                if (window.location.search.split("id=")[1] == undefined) {
                    this.indexNum = 0
                } else {

                    this.indexNum = window.location.search.split("id=")[1]
                }
            },
            btnOrder(index) {
                this.indexNum = index
                if (index == 0) {
                    this.arrlist = this.shopAll
                } else {
                    this.arrlist = ''
                }

            },
            // 订单详情跳转
            xiangqing(index,item){
                if(item.status == '待发货'){
                    console.log(item)
                    // localStorage.setItem('product', JSON.stringify(item))
                    window.location.href = './pendingShipment.html?items='+JSON.stringify(item)+''
                }else if(item.status == '待安装'){
                    window.location.href = './pendinginstallation.html?items='+item+''
                }else if(item.status == '待付款'){
                    window.location.href = './orderDetails.html?items='+item+''
                }else{
                    window.location.href = './finished.html?items='+item+''
                }
            },
            // 关闭订单
            methodBtn(item,index) {
                if (item == '关闭订单') {
                    this.confirms = true    
                }
            },
            backtrack() {
                window.history.go(-1)
            },

        }
    })
</script>

</html>