<!DOCTYPE html>
<html lang="en"  style="height:100%;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/order/dingdan.css">
    <link rel="stylesheet" href="../../css/order/orderDetails.css">
    <script src="../../js/vue.js"></script>
    <title>待安装</title>
    <style>
        *{
            margin: 0;
        }
        .app{
            height: 100%;
            background: #ecebeb;
        }
        
    </style>
</head>
<body  style="height:100%;">
    <div class="app" >
         
        <div class="headerTitle">
            待安装
            <div class="boxthite"></div>
        </div>
        

        <div class="content" >
            <div class="logisticsTest">
                <div class="logisticsTestcar">
                    <span>12</span>

                    <div v-if="wuliu">
                        <div class="flexbuju" >
                                <div >
                                        <p>[广州市]广州市海珠区的张伟[15321546214]正在派件</p>
                                        <p class="time">2019.08.22 12:23:44</p>
                                </div>
                                <div class="iconImg">
                                        1
                                </div>
                        </div>
                    </div>

                    <div class="testwuliu" v-else>
                        <p >暂无物流信息</p>
                    </div>
                </div>

                <div class="logisticsTestcar">
                        <span>12</span>
                            <div class="flexbuju" >
                                <div >
                                    <p>张立 13578542365</p>
                                    <p class="time">地址：广东省广州市海珠区白蕉镇虹桥三
                                            路金地格林伯乐</p>
                                </div>
                            </div>
                </div>
                
            </div>

            <div class="content-neirong" v-for="(item,index) in shopAll">
                <div class="dingdan-nub">
                    <p>订单号信息</p>
                </div>
                <div class="dingdan-zhan" v-for="(items,index) in item.ssss">
                    <div class="product"></div>
                    <div class="brief-introduction">
                        <p class="one-text">{{items.name}}</p>
                        <p class="two-text">{{items.titleTest}}</p>
                        <div class="dingdan-zhan-text">
                            <span class="text-nubmer">￥{{items.pirce}}</span>
                            <span class="text-mul">×{{items.numders}}</span>
                        </div>
                    </div>
                </div>
                <p class="fontSize" >订单编号：{{age}} <span class="copy" @click='copy(age)'>复制</span></p>
                <p class="fontSize" >下单时间：1321313</p>
                <p class="fontSize" >用户昵称：1456464</p>
                <p class="fontSize" >配送方式：上门自提</p>
                <p class="fontSize" >支付方式：货到付款</p>
                <p class="fontSize" >支付时间：2019.08.22 12:25:32</p>
            </div>

            <div class="allPirce">
                <div class="listFlex">
                    <p>商品总额</p>
                    <p>￥1233.00</p>
                </div>
                <div class="listFlex">
                        <p>商品总额</p>
                        <p>￥1233.00</p>
                    </div>
                    <div class="lineheight"></div>
                    <div class="listFlex">
                            <p>商品总额</p>
                            <p class="colorRed">￥1233.00</p>
                        </div>
            </div>

            <!-- <div class="submitBtn">
                    立即发货
            </div> -->

        </div>

    </div>
</body>
<script>
    var app = new Vue({
        el:'.app',
        data:{
            age:'12',
            shopAll:[
                {id:1,title:'1233455324568456',status:'待发货',ssss:[{name:'中化石油加油卡礼包',titleTest:'内含一张1000元加油卡',pirce:'3455.00',numders:'2'},
                {name:'中化石油加油卡礼包',titleTest:'内含一张1000元加油卡',pirce:'3455.00',numders:'2'}],img:'',userName:'嗷嗷喊',},
            ],
            indexNum:0,
            wuliu:true,
        },
        methods:{
            btnOrder(index){
                this.indexNum=index
            },
            copy(age){
                var _input = document.createElement("input");
                _input.value = age;
                document.body.appendChild(_input);
                _input.select();
                document.execCommand("Copy");
                document.body.removeChild(_input);
            }
        }
    })
</script>
</html>